.startup-display-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    grid-auto-rows: 20rem;
    justify-items:flex-start;
    align-items: center;
    gap: 12px 6px;
}

.startup-buz-bg{
    background-color:rgb(179, 170, 170);
    border-radius: 2px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.business-item-link{
    text-decoration: none;
    color: white;
}

img.startup-images{
    width: 100%;
    height: 90%;
}

.startup-image-names{
    padding-top: 0.3rem;
}

/* @media screen and (max-width: 768px) {
    .startup-display-container{
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(auto, .5fr));
        justify-items:flex-start;
        align-items: center;
        gap: 12px 6px;
    }
} */