.startup-display-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    grid-auto-rows: 20rem;
    justify-items:flex-start;
    align-items: center;
    gap: 12px 6px;
}

.startup-buz-bg{
    background-color:rgb(179, 170, 170);
    border-radius: 2px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.business-item-link{
    text-decoration: none;
    color: white;
}

img.startup-images{
    width: 100%;
    height: 90%;
}

.startup-image-names{
    padding-top: 0.3rem;
}

.description-block
{
    padding-top: 2rem;
    float: right;
}

.description-text
{
    padding-right: 2rem;
}


.pagination-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: -7.5px;
    margin-left: -7.5px;
}

ul.ngx-pagination{
    padding-left: 0px !important;
}

@media screen and (max-width: 320px) {
    .pagination-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        margin-right: -7.5px;
        margin-left: -7.5px;
    }

    .ngx-pagination{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
    }
}