.preference-setting-form{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.preference-setting-container{
    padding-top: 25px;
    padding-bottom: 6px;
    padding-left: 17px;
    padding-right: 17px;

}

.preference-input{
    width: 99% !important;
}

.preference-disclaimer-text{
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
}


.preference-warning-text{
    font-weight:600;
}

.warning-sub-header{
    color: rgb(247, 230, 230);
    font-weight: bold;
}

.bg-warning{
    background-color: rgb(236, 184, 87) !important;
}

