<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Investor's name</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a routerLink="/investor-dashboard" class="nav-link">
            <i class="fas fa-users mr-2"></i>
            <p>
              Matches
              <span class="right badge badge-danger">{{numberOfMatches}}</span>
            </p>
          </a>
        </li>
        
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a  routerLink="/match-preferences" class="nav-link">
            <i class="fas fa-sliders-h"></i>
            &nbsp;
            <p>
              Match Preference
              <!-- <i class="fas fa-angle-left right"></i> -->
              <!-- <span class="badge badge-info right">6</span> -->
            </p>
          </a>
        </li>

        <hr class="sidebar-divider">

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fas fa-wrench"></i>
            &nbsp;
            <p>
              Update Profile
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link nav-sublink">
                <i class="far fa-circle nav-icon"></i>
                <p>Change profile picture</p>
              </a>
            </li>
          </ul>
        </li>

        <hr class="sidebar-divider">

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Log Out</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
